<h3>{{title}}</h3>

<!-- simple / extended search toggle -->
<span class="btn-group" role="group" aria-label="..." (click)="toggleExtended()">
  <button type="button" [ngClass]="{'btn': true, 'btn-info': !extended, 'btn-dark': extended}">
    simple search
  </button>
  <button type="button" [ngClass]="{'btn': true, 'btn-info': extended, 'btn-dark': !extended}">
    extended search
  </button>
</span>

<!-- simple search -->
<div class="framed" *ngIf="!extended">
  <h3>Simple search:</h3>
  <input [(ngModel)]="person.id" placeholder="id" />
</div>

<!-- extended search -->
<div class="framed" *ngIf="extended">
    <app-person-search-form [person]="person" (searched)="downstreamWorks($event)"></app-person-search-form>
</div>

<!-- search button -->
<button class="btn btn-primary room-above" (click)="triggerSearch()">Search</button>

<!-- found list -->
<app-person-found [persons]="found"></app-person-found>
